<!Doctype Html>
<html>
  <head>
    <title> Webserver </title>
  </head>
  
  <body>
    <ul>
      <li> <a href = "com/"> com/ </a> </li>
      <li> <a href = "Output.tmpl/"> Output.tmpl/ </a> </li>
    <ul>
  </body>

</html>

