<!Doctype Html>
<html>
  <head>
    <title> Webserver </title>
  </head>
  
  <body>
    <ul>
      <li> <a href = Hello> Hello </a> </li>
      <li> <a href = Therefore> Therefore </a> </li>
    <ul>
  </body>

</html>

